<div class="contador-wrapper">
  <h2 class="titulo-contador">Contagem Regressiva</h2>
  <div class="blocos-tempo">
    <div class="bloco">
      <div class="numero">{{ dias }}</div>
      <div class="rotulo">dias</div>
    </div>
    <div class="bloco">
      <div class="numero">{{ horas }}</div>
      <div class="rotulo">horas</div>
    </div>
    <div class="bloco">
      <div class="numero">{{ minutos }}</div>
      <div class="rotulo">minutos</div>
    </div>
    <div class="bloco">
      <div class="numero">{{ segundos }}</div>
      <div class="rotulo">segundos</div>
    </div>
  </div>
</div>
