<div class="imagem-container">
    <img src="assets/Laís-e-Levi.png" alt="Imagem">
    <div class="texto-nomes">Laís e Levi</div>
    <div class="texto-data">22.11.2025</div>
</div>
<div class="texto-container">
    <p>Criamos esse site para compartilhar com vocês os detalhes da organização do nosso casamento. Estamos muito
        felizes e contamos com a presença de todos no nosso grande dia! Ah, é importante também confirmar sua presença.
        Para isto contamos com sua ajuda clicando no menu “Confirme sua Presença” e preenchendo os dados necessários.
        Para nos presentear, escolha qualquer item da Lista de Casamento, seja um item de algum dos sites, lojas
        físicas, ou então vocês podem utilizar a opção de cotas. Fiquem à vontade! Aguardamos vocês no nosso grande dia!
    </p>
    <img src="assets/flor-terracota.png" alt="">
</div>