<div class="container">
    <div class="imagem-container">
        <img src="assets/IMG_9951.jpg" alt="Imagem">
        <div class="texto-nomes">Laís e Levi</div>
        <div class="texto-data">27.12.2025</div>
    </div>
    <div class="texto-container">
        <p>Criamos este site com todo carinho para compartilhar os detalhes da organização do nosso casamento. Estamos
            muito felizes e contamos com a sua presença no nosso grande dia! Explore o site para descobrir tudo o
            que preparamos, desde informações sobre o evento até formas de participar ativamente desse momento tão
            especial.

            Sua presença é fundamental para nós! Navegue pelo site e preencha os dados necessários para confirmar sua
            presença, ajudando-nos a organizar tudo com muito amor e cuidado.
        </p>
        <p>
            Ah, e se quiser nos presentear, criamos uma lista de presentes fictícia, cheia de ideias criativas para
            contribuir com a nossa lua de mel dos sonhos. Cada presente representa uma parte dessa viagem especial, e
            sua contribuição nos ajudará a transformá-la em realidade. Fique à vontade para navegar e escolher o que
            preferir.

            Aguardamos vocês no nosso grande dia!
        </p>
        <img src="assets/flor-terracota.png" alt="">
    </div>
</div>