.imagem-container {
    position: relative;
    display: inline-block;
  }
  
  .imagem-container img {
    width: 100%; /* Ou o tamanho desejado */
    height: auto;
  }
  
  .texto-nomes {
    position: absolute;
    top: 75%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff2e3;
    font-family: Amoresa, serif;
    font-weight: 400;
    font-size: 9rem; 
    text-shadow: 6px 6px 0px #b3ada1;
  }

  .texto-data {
    position: absolute;
    top: 87%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff2e3;
    font-family: "Be Vietnam Pro", serif;
    font-size: 3em; 
    text-shadow: 5px 4px 0px #b3ada1; 
  }


  