

.container {
    width: 100%;
}

.imagem-container {
    position: relative;
    display: inline-block;
}

.imagem-container img {
    width: 100vw;
}

.texto-nomes {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #fff2e3;
    font-family: Amoresa, serif;
    font-weight: 400;
    font-size: 9rem;
    text-shadow: 6px 6px 0px #b3ada1;
}

.texto-data {
    position: absolute;
    top: 87%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff2e3;
    font-family: "Be Vietnam Pro", serif;
    font-size: 3em;
    text-shadow: 5px 4px 0px #b3ada1;
}

.texto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    padding: 5rem 12rem;
    font-family: "Eb Garamond", serif;
}

.texto-container p{
    font-size: 1.8rem;
    color: var(--secondary-color);
    text-align: center;
}

.texto-container img {
    width: 45rem;
}

@media (max-width: 576px) {
    .texto-nomes {
        font-size: 10vw;
        text-shadow: 2px 2px 0px #b3ada1;
    }
    .texto-data {
        font-size: 3.3vw;
        text-shadow: 2px 1px 0px #b3ada1;
    }

    .texto-container {
        margin-top: 2rem;
        padding: 1rem 2rem;
    }
    .texto-container p{
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .texto-nomes {
        font-size: 10vw;
        text-shadow: 3px 3px 0px #b3ada1;
    }
    .texto-data {
        font-size: 3.3vw;
        text-shadow: 2px 1px 0px #b3ada1;
    }

    .texto-container {
        margin-top: 3rem;
        padding: 2rem 4rem;
    }
    .texto-container p{
        font-size: 1.1rem;
    }
}


@media (min-width: 768px) {
    .texto-nomes {
        font-size: 10vw;
        text-shadow: 4px 4px 0px #b3ada1;
    }
    .texto-data {
        font-size: 3.3vw;
        text-shadow: 3px 2px 0px #b3ada1;
    }

    .texto-container {
        margin-top: 4rem;
        padding: 3rem 6rem;
    }
    .texto-container p{
        font-size: 1.3rem;
    }
}


@media (min-width: 992px) {
    .texto-nomes {
        font-size: 10vw;
        text-shadow: 5px 5px 0px #b3ada1;
    }

    .texto-data {
        font-size: 3.3vw;
        text-shadow: 4px 3px 0px #b3ada1;
    }

    .texto-container {
        margin-top: 5rem;
        padding: 4rem 10rem;
    }
    .texto-container p{
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {

}