<div class="container">
  <div class="header">
    <h1 class="title">Lista de Presentes Virtual</h1>
    <p>Sua presença já será o nosso presente! Mas caso queiram nos presentear, aqui poderão encontrar nossa lista de
      presentes: contribuições para a nossa viagem dos sonhos! Obrigado pelos mimos, lembraremos com carinho de cada um
      ao
      desfrutar da nossa lua de mel!</p>
    <div class="ordenacao">
      <p>Ordenar por:</p>
      <button (click)="ordenarPorMaiorPreco()">Maior preço</button>
      <button (click)="ordenarPorMenorPreco()">Menor preço</button>
    </div>
  </div>
  <div class="grid">
    <div class="item" *ngFor="let presente of listaPresentes | paginate: { itemsPerPage: 12, currentPage: p }">
      <img src="{{ presente.imagem }}" alt="{{ presente.nome }}">
      <h2>{{ presente.nome }}</h2>
      <p>Preço: {{ presente.preco | currency:'BRL' }}</p>
      <p>Categoria: {{ presente.categoria }}</p>
      <button (click)="comprar(presente)" [class.disabled]="!presente.disponivel">Adicionar ao Carrinho</button>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls class="paginacao" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>