
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff69;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: var(--text-color);
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s;
    background-color: #a1785a23;
  }
  
  .item:hover {
    transform: scale(1.02);
  }
  
  .item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .item h2 {
    font-size: 1.25rem;
    color: #333333;
    margin: 10px 0;
  }
  
  .item p {
    color: #6c757d;
    margin: 5px 0;
  }
  
  .item button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .item button:hover {
    background-color: var(--text-color);
  }
  
  .item button.disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .paginacao ::ng-deep .ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paginacao ::ng-deep .ngx-pagination .current {
    background: var(--secondary-color);
    border-radius: 50%;
  }

  .paginacao ::ng-deep .ngx-pagination a:hover{
    border-radius: 50%;
  }

  .custom-dialog-container {
    overflow: hidden;
  }
  
  .custom-dialog-container .mat-dialog-content {
    max-height: 80vh; /* Limita a altura do conteúdo do modal */
    overflow-y: auto; /* Adiciona rolagem vertical ao conteúdo do modal */
  }
  
  .custom-dialog-container .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }