ul {
    display: flex;
    justify-content: center;
}

li {
    margin: 1.5rem;
    list-style-type: none;
    font-size: 1rem;
    font-family: "Be Vietnam Pro", serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    color: var(--text-color);
    cursor: pointer;
}