<div class="container">
    <div class="texto-container">
        <h1>Cerimônia</h1>
        <p>Queridos amigos e familiares, ficaremos imensamente felizes em tê-los conosco neste dia tão especial, onde celebraremos nossa união, que
            será abençoada diante de Deus.

            A cerimônia religiosa será realizada no mesmo local da celebração festiva, às 15:30h, permitindo que todos
            compartilhem desse momento único e especial em nossa vida.
        </p>
        <p>
            Após a cerimônia, teremos uma recepção cheia de
            alegria, amor e celebração. Esperamos que possam se juntar a nós para comemorar essa nova etapa que
            iniciamos juntos, rodeados por pessoas queridas.

            Sua presença será um grande presente para nós, e temos certeza de que este será um dia inesquecível, repleto
            de felicidade e emoção. Contamos com você para tornar este dia ainda mais especial!
        </p>
    </div>
    <div class="local-container">
        <img src="/assets/terraco.jpg" alt="imagem do local da cerimônia">
        <p>Terraço espaço para eventos <br>
        Rua J, Inocoop, Cruz das Almas - BA
        </p>
        
    </div>
    <div class="localizacao-container">
        <a href="https://maps.app.goo.gl/AjDH4GKPuStuMzsY6" target="_blank"><img src="assets/mapa.png" alt="imagem clicável para acessar a localização do evento através do google maps"></a>
        <p>Clique no mapa para acessar a localização</p>
    </div>

</div>