.container {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-container {
    width: 100%;
}

.texto-container p {
    padding: 0 12%;
}

.localizacao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--secondary-color);
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
    font-family: Amoresa, serif;
}

p {
    font-size: 1.8rem;
    color: var(--secondary-color);
    text-align: center;
    font-family: "Eb Garamond", serif;
    margin: 0 4rem;
}

img {
    width: 50%;
}

@media ( max-width: 576px) {
    p {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
}

@media ((min-width: 576px) and (max-width: 767px)) {
    p {
        font-size: 1.2rem;
        padding: 1rem 1rem;
    }
}


@media ((min-width: 768px) and (max-width: 991px)) {
    p {
        font-size: 1.5rem;
        padding: 1rem 1rem;
    }
}


@media ((min-width: 992px) and (max-width: 1199px)) {
    p {
        font-size: 1.7rem;
        padding: 1.5rem 1.5rem;
    }

}


@media (min-width: 1200px) {
    p {
        font-size: 1.8rem;
        padding: 2rem 2rem;
    }
}