<header>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" >
        <mat-icon class="icon-button">menu</mat-icon>
    </button>    
    <mat-menu #menu="matMenu">
        <a href="#inicio"><button mat-menu-item>Inicio</button></a>
        <a href="#casal"><button mat-menu-item>O Casal</button></a>
        <a href="#local"><button mat-menu-item>Cerimônia</button></a>
        <a href="#presentes"><button mat-menu-item>Lista de Presentes</button></a>
        <a href="#confirmacao"><button mat-menu-item>Confirme a Presença</button></a>
        <a href="#duvidas"><button mat-menu-item>Dúvidas</button></a>
        <button mat-menu-item (click)="abrirCarrinho()" *ngIf="ItensSelecionadosService.obtemCarrinho().length > 0">
            <a>Carrinho</a>
        </button>
    </mat-menu>
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#casal">O Casal</a></li>
            <li><a href="#local">Cerimônia</a></li>
            <li><a href="#presentes">Lista de Presentes</a></li>
            <li><a href="#confirmacao">Confirme a Presença</a></li>
            <li><a href="#duvidas">Dúvidas</a></li>
            <li (click)="abrirCarrinho()" *ngIf="ItensSelecionadosService.obtemCarrinho().length > 0">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="badge-carrinho">
                    {{ItensSelecionadosService.obtemCarrinho().length}}
                </span>
            </li>
        </ul>
    </nav>
</header>
<section id="inicio">
    <app-inicio></app-inicio>
</section>
<div class="parallax-1"></div>
<section id="casal">
    <app-casal></app-casal>
</section>
<div class="parallax-2"></div>
<section id="local">
    <app-cerimonia></app-cerimonia>
</section>
<section id="presentes">
    <app-lista-presentes></app-lista-presentes>
</section>
<section id="confirmacao">
    <app-confirme-presenca></app-confirme-presenca>
</section>
<section id="duvidas">
    <app-duvidas></app-duvidas>
</section>
<div class="parallax-3"></div>
<section id="contagem-regressiva">
    <app-contagem-regressiva></app-contagem-regressiva>
</section>
<!-- HTML -->
<footer>
    <div class="footer-container">
      <div class="footer-content">
        <h1>Laís & Levi</h1>
        <p>27/12/2025</p>
        <p>
          Estamos muito felizes em compartilhar este momento especial com vocês.
          Aguardamos todos no nosso grande dia!
        </p>
        <ul class="footer-links">
          <li><a href="#duvidas">Dúvidas</a></li>
          <li><a href="#confirmacao">Confirmação de Presença</a></li>
          <li><a href="#presentes">Lista de Presentes</a></li>
        </ul>
        <p>Com amor,</p>
        <p>Laís & Levi</p>
        <hr>
        <p>Desenvolvido por Levi | UI Design por Laís</p>
      </div>
    </div>
  </footer>

<app-audio class="player"></app-audio>  
<router-outlet></router-outlet>