header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: #f6f2e7bf;
    z-index: 1;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a button {
    color: var(--text-color);
}

ul {
    display: flex;
    justify-content: center;
}

li {
    margin: 1.5rem;
    list-style-type: none;
    font-family: "Be Vietnam Pro", serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: var(--text-color);
    cursor: pointer;
}

li i {
    font-size: 2rem;
    color: var(--text-color);
}

.badge-carrinho {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}

li {
    position: relative;
}

.parallax-1 {
    background-image: url('/assets/IMG_0036.jpg');
    height: 50%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallax-2 {
    background-image: url('/assets/IMG_0064.jpg');
    height: 50%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    background-color: var(--primary-color);
    padding: 20px 0;
    text-align: center;
    color: var(--secondary-color);
}

.footer-container {
    background: linear-gradient(to bottom, var(--primary-color), white);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    margin: 20px 0;
}

.footer-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 18px;
    margin: 10px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: var(--text-color);
}

.footer-links a:hover {
    text-decoration: underline;
}

footer hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ddd;
}


@media (max-width: 576px) {
    header {
        height: 3vh;
        background-color: rgba(255, 255, 255, 0);
    }

    header nav {
        display: none;
        height: 5vh;
    }

    header button {
        display: block;
        color: var(--text-color)

    }
}

@media ((min-width: 576px) and (max-width: 767px)) {
    header {
        height: 5vh;
        background-color: rgba(255, 255, 255, 0);
    }

    header nav {
        display: none;
    }

    header button {
        display: block;
        color: var(--text-color)
    }

}


@media ((min-width: 768px) and (max-width: 991px)) {
    header {
        height: 5vh;
    }

    header nav {
        display: none;
    }

    header button {
        display: block;
        color: var(--text-color)
    }
}


@media ((min-width: 992px) and (max-width: 1199px)) {
    header nav {
        display: block;
    }

    header button {
        display: none;
    }

    ul li {
        font-size: .9rem;
    }
}

@media only screen and (max-device-width: 768px) {
    .parallax-1, .parallax-2 {
      background-attachment: scroll;
    }
  }


@media (min-width: 1200px) {
    header nav {
        display: block;
    }

    header button {
        display: none;
    }
}