<div class="container">
  <h1>Dúvidas</h1>
  <div class="mat-accordion">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-description>
            <h2>O que devo vestir?</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Por gentileza, vestir traje esporte fino, não usar branco ou terracota.
        </p>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-description>
            <h2>Mulheres podem usar salto?</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Sim, porém seria melhor evitar saltos finos para ficar mais confortável, boa parte do espaço é de grama.
        </p>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-description>
            <h2>Haverá uma recepção?</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Sim, a recepção será no mesmo local logo após a cerimônia.
        </p>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-description>
            <h2>Qual o horário do casamento?</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          A cerimônia começará às 15:30h, mas pedimos que cheguem com pelo menos 30 minutos de antecedência para que
          possamos
          iniciar pontualmente.
        </p>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-description>
            <h2>Sou obrigado a assinar um presente?</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Não, a lista de presentes é totalmente opcional. Se preferir, você pode nos presentear com algo que tenha
          significado especial para você.
        </p>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-description>
            <h2>Posso levar acompanhantes?</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Nosso casamento foi organizado para um número limitado de pessoas, pedimos gentilmente que os acompanhantes
          estejam restritos àqueles que foram previamente informados no momento do convite. Contamos com sua compreensão
          e carinho para que este momento permaneça íntimo e acolhedor, como sonhamos.
        </p>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-description>
            <h2>Haverá estacionamento no local?</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Sim, haverá estacionamento disponível na rua do local. Pedimos que cheguem cedo para garantir um bom lugar.
        </p>
      </mat-expansion-panel>



    </mat-accordion>
  </div>


</div>