<div class="container">
    <h1>Dúvidas</h1>
    <h2>O que devo vestir?</h2>
    <p>
        Por gentileza, vestir traje esporte fino, não usar branco ou terracota.
    </p>
    <h2>Mulheres podem usar salto?</h2>
    <p>        
        Sim, porém seria melhor evitar saltos finos para ficar mais confortável, a maior parte do espaço é de grama.
    </p>
    <h2>Haverá uma recepção?</h2>
    <p>
        Haverá uma recepção?
        Sim, a recepção será no mesmo local logo após
        a cerimônia.
        Obs.: o local é acessível para cadeira de rodas.
    </p>
</div>