<div class="container">
    <h1>O Casal</h1>
    <div class="container-elementos-1">
        <div class="container-imagem">
            <img src="assets/IMG_0107.jpg" alt="Casal">
        </div>
        <div class="container-texto">
            Essa história começou de um jeito inesperado. Se Laís não tivesse escolhido cursar Medicina Veterinária em
            Cruz das Almas, talvez eles nunca tivessem se conhecido. Mas os planos de Deus são perfeitos, e foi na
            igreja, mais especificamente no ministério de música, que seus caminhos se cruzaram.

            No início, eram apenas amigos. Tudo começou com uma simples mensagem de “Feliz Natal” enviada por Levi, sem
            imaginar que aquele pequeno gesto daria início a algo tão especial. Em 2020, começaram um romance, mas a
            distância imposta pela pandemia acabou separando seus caminhos temporariamente. Porém, o destino nunca perde
            sua força quando há algo maior guiando as coisas.
        </div>
    </div>
    <div class="container-elementos-2">
        <div class="container-texto">
            Em 2022, Laís voltou para Cruz das Almas, e eles se reaproximaram como amigos. Foi nesse reencontro que Levi
            começou a perceber seus sentimentos de uma forma nova e mais profunda. Após o Congresso de Família da igreja,
            ele encontrou a coragem para se declarar, e não demorou muito para que oficializassem o namoro. Desde então, têm
            construído sua história com amor, fé e um compromisso inabalável.
    
            Agora, estão prontos para escrever o próximo capítulo de suas vidas juntos. No dia 13/12/2025, Laís e Levi dirão
            "sim" ao noivado e a tudo que Deus tem reservado para eles. E mal podem esperar para celebrar esse momento ao
            lado de todos que tornaram essa história ainda mais especial! 💍✨
        </div>
        <div class="container-imagem">
            <img src="assets/IMG_9983.jpg" alt="Casal">
        </div>
    </div>
</div>
