.container {
    background-color: var(--primary-color);
    width: 100%;
}

h1 {
    color: var(--text-color);
    padding: 3rem;
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
    font-family: Amoresa, serif;
}

.container-elementos-1, .container-elementos-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2rem;
}

.container-texto {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 5rem  ;
    padding: 2rem 4rem;
    color: var(--text-color);
    font-family: "Eb Garamond", serif;
    font-size: 1.8rem;
    text-align: center;
}

.container-imagem{
    width: 50%;
}

.container-imagem img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 2rem;
}

@media (max-width: 576px) {

    h1 {
        font-size: 2rem;
    }

    .container-imagem{
        width: 90%;
    }

    .container-elementos-1 {
        display: flex;
        flex-direction: column;
    }

    .container-elementos-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .container-texto {
        width: 100%;
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    
    .container-elementos-1 {
        display: flex;
        flex-direction: column;
    }

    .container-elementos-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .container-texto {
        width: 80%;
        font-size: 1.2rem;
    }

    .container-imagem{
        width: 70%;
    }
}

@media (min-width: 768px) {

    .container-elementos-1 {
        display: flex;
        flex-direction: row;
    }

    .container-elementos-2 {
        display: flex;
        flex-direction: row;
    }

    .container-texto {
        width: 50%;
        margin: 1rem 0 3rem  ;
        padding: 20px 24px;
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .container-texto {
        width: 50%;
        margin: 2rem 0 4rem  ;
        padding: 2rem 4rem;
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) {
    .container-texto {
        width: 50%;
        margin: 2rem 0 5rem  ;
        padding: 2rem 4rem;
        font-size: 1.7rem;
    }
}