<div class="container">
    <h1>O Casal</h1>
    <div class="container-elementos">
        <div class="container-imagem">
            <img src="assets/Laís-e-Levi.png" alt="Casal">
        </div>
        <div class="container-texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quas unde consectetur tenetur odio
            maiores
            doloribus debitis possimus, soluta voluptatem eligendi delectus distinctio commodi esse ducimus! Soluta
            tenetur
            at
            sapiente. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem voluptates explicabo, nam vel
            blanditiis
            nemo cum asperiores corrupti? Reprehenderit libero ipsa quo quos est deserunt temporibus molestiae corporis.
            Blanditiis, numquam?
        </div>

    </div>

</div>