
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

:root {
  @include mat.radio-overrides((
    label-text-color: var(--bege),
    selected-icon-color: var(--bege)
  ));
}


html {
  @include mat.theme((
    color: (
      primary: mat.$orange-palette,
      tertiary: mat.$violet-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
}