@font-face {
  font-family: 'Amoresa';
  src: url('assets/fonts/Andrey\ Sharonov\ -\ Amoresa\ Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;  
}

@font-face {
  font-family: 'Artegra';
  src: url('assets/fonts/Fontspring-DEMO-artegra_slab-400-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;  
}

:root {
    --primary-color: #f6f2e7;
    --secondary-color: #557c70;
    --text-color: #a1775a;
  }

  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    scroll-behavior: smooth !important;
  }
  
  body {
    margin: 0;
  }

html {
    background-color: var(--primary-color);
}
html, body { height: 100%; }
body { margin: 0; }

h1 {
  font-family: Amoresa, serif;
}

p, h2 {
  font-family: EbGaramond, sans-serif;
}
