:host ::ng-deep .mat-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin: auto;
  border-radius: 12px;
}

.container {
    background-image: url(/assets/IMG_0086.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bege);
}

.content {
    background: transparent;      
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px;
    margin: 2rem;
    display: flex;
    width: 70vw;
    flex-direction: column;
    align-items: center;
    color: var(--bege);
    text-align: center;
    border-radius: 1rem;
    border: 1px solid var(--bege);
}


h1 {
    color: var(--bege);
    font-size: 3rem;
}

p{
    font-size: 1.7rem;
    color: var(--bege);
}

.formulario {
    margin-top: 20px;
    z-index: 1;
}

.informacoes-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

mat-form-field {
    width: 100%;
}

.count {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

mat-radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--bege);
}

#texto_confirmacao {
    background-color: #00000036;
    border-radius: 10px;
    padding: 4px;
    font-family: 'Eb Garamond', serif;
}

.confirm-button {
    background-color: var(--azul);  
    color: var(--bege);  
    margin: 0 2rem;
    display: block;
    padding: 10px;
    background-color: var(--azul);    
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.confirm-button:hover {
    background-color: var(--terracota);
}

.confirm-button.disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.quantity-box {
    display: inline-block;
    width: 30px;
    text-align: center;
}

@media ( max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

@media ((min-width: 576px) and (max-width: 767px)) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }
}